.footer {
    background-color: #fff; /* dark background */
    color: #000; /* white text */
    padding: 20px 0;
    }

.footer-content {
        font-family: 'Poppins', Helvetica, sans-serif;
        font-size: 10px; /* This sets the font size for the entire footer content */
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column; /* stack items vertically */
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0 20px; /* a bit of side padding */
    }
    

.footer-logo img {
    max-width: 150px; /* adjust as needed */
    margin: 10px 0; /* space out logo from other sections */
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0; /* space out links from other sections */
}

.footer-links a {
    margin: 0 15px;
    color: #000;
    text-decoration: none;
    transition: opacity 0.3s, color 0.3s; /* smooth transition on hover */
    font-size: 14px;
}

.footer-links a:hover {
    color: #096192;
    opacity: 0.8; /* subtle hover effect */
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* space out icons from other sections */
}

.footer-social-media a {
    margin: 0 10px;
}

.footer-social-media img {
    width: 20px; 
    height: 20px;
    filter: brightness(0) invert(0);
}

.footer-social-media a:hover {
    opacity: 0.8; /* hover effect to slightly reduce the icon opacity */
}
.footer-content p{
    font-size: 12px;
    color: #aaaaaa;
}

@media only screen and (max-width: 1024px) {
    .footer-content {
      font-size: 10px;
      padding: 0 15px;
    }
  
    .footer-links a, .footer-social-media a {
      margin: 0 12px;
    }
  
    .footer-content p {
      text-align: center;
      padding: 0 10px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .footer-content {
      padding: 0 10px;
    }
  
    .footer-links, .footer-social-media {
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
  
    .footer-links a, .footer-social-media a {
      margin: 5px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .footer {
      padding: 20px 10px;
    }
  
    .footer-content {
      font-size: 8px;
      align-items: flex-start;
    }
  
    .footer-logo img {
      max-width: 100px;
    }
  
    .footer-links, .footer-social-media {
      flex-direction: row;
      justify-content: center;
    }
  
    .footer-links a, .footer-social-media a {
      margin: 0 8px;
    }
  
    .footer-content p {
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 320px) {
    .footer-content {
      padding: 0 5px;
    }
  
    .footer-links a, .footer-social-media a {
      margin: 0 5px;
    }
  
    .footer-content p {
      font-size: 9px;
    }
  }
  @media only screen and (max-width: 480px) {
    .footer {
      padding: 20px 10px;
    }
  
    .footer-content {
      font-size: 8px;
      align-items: center; /* Center align the content */
    }
  
    .footer-logo img {
      max-width: 100px;
    }
  
    .footer-links, .footer-social-media {
      flex-direction: row;
      justify-content: center;
    }
  
    .footer-links a, .footer-social-media a {
      margin: 0 8px;
    }
  
    .footer-content p {
      font-size: 10px;
    }
  
    .footer-social-media {
      justify-content: center; /* Center align the social media buttons */
    }
  }
  